{% extends 'base.html' %}
{% block content %}
{% block title %} خانه{% endblock %}
    <body>

        <!--Preloader-->
        <div class="preloader">
            <div class="loader "></div>
        </div>
        <!--Preloader-->

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand logo" href="{% url 'home:home' %}">
                   الی سایفر
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <!--Nav Links-->
                        <li class="nav-item">
                            <a href="#" class="nav-link active" data-scroll-nav="0" >خانه</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="1" >درباره من</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="2" >سرویس ها</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="3">نمونه کارها</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="4">وبلاگ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="5">تماس با من</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'account:user_profile' %}" class="nav-link" >پروفایل</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account:user_logout' %}" class="nav-link" >خروج</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account:user_register' %}" class="nav-link" >ورود / عضویت</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% include 'include/massages.html' %}
        </nav>
        <!--Navbar End-->

        <!--Home Section Start-->
        <section id="home" class="banner banner-centered" style="background-image: url('{{ STATIC_PATH }}images/background/creative2-banner-b.jpg')" data-stellar-background-ratio=".7" data-scroll-index="0">
                <!--Banner Content-->
                <div class="banner-caption">
                    <h1>سلام من المیرا نیکرودی هستم</h1>
                    <p class="cd-headline clip mt-30">
                        <span>ملقب به الی سایفر</span><br>
                        <span class="blc">حرفه در</span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">طراحی دیجیتالی</b>
                            <b>پویانمایی</b>
                            <b>توسعه وب</b>
                        </span>
                    </p>
                </div>
                <div class="arrow bounce">
                    <a class="fa fa-chevron-down fa-2x" href="#" data-scroll-nav="1"></a>
                </div>

                <svg id="home-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1400 300" preserveAspectRatio="none">
                    <path class="p-curve" d="M-0.2,0.5c0,0-21.7,99.6,233.1,99.6s320.1,199.7,467.6,200.1S898.6,100,1167.6,100S1401,0,1401,0v301H0 L-0.2,0.5z"/>
                </svg>
        </section>
        <!--Home Section End-->

        <!--About Section Start-->
        <section class="about pt-100 pb-100" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <!--About Image-->
                        <div class="about-img">
                            <img src="{{ STATIC_PATH }}images/EliCipher.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <!--About Content-->
                        <div class="about-content">
                            <div class="about-heading">
                                <h2>درباره من</h2>
                                <span>آرتیست و توسعه‌دهنده وب</span>
                                </div>
                                <p>من الی‌ام، یه دانشجوی مهندسی نرم‌افزار که عاشق دنیای طراحی و برنامه‌نویسیه. هم با قلم و رنگ کار می‌کنم، هم با کد و دیباگ! اینجا جاییه برای اشتراک هنر، تجربه و کدهایی که بهم زندگی می‌دن :)</p>
                                <p>اگه به طراحی، وب یا هنر دیجیتال علاقه‌مندی، با هم کلی حرف واسه گفتن داریم!</p>
                                
                            <!--About Social Icons-->
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                            <span class="about-button">
                                <a class="main-btn" href="#">دانلود رزومه</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Section End-->

        <!--Services Section Start-->
        <section class="services bg-gray pt-100 pb-50" data-scroll-index="2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading text-center">
                            <h6>سرویس ها</h6>
                            <h2>کاری که من می توانم انجام دهم</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <!--Service Item-->
                        <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-book"></i>
                            </span>
                            <h4>طراحی دیجیتالی</h4>
                            <p>ارائه خدمات طراحی دیجیتال با تمرکز بر خلق آثار خلاقانه، از طراحی کاراکتر و محیط گرفته تا تصویرسازی‌های داستانی، با استفاده از ابزارهای حرفه‌ای دیجیتال آرت.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Service Item-->
                        <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-globe "></i>
                            </span>
                            <h4>توسعه وب</h4>
                            <p>ارائه خدمات توسعه وب با استفاده از فریم‌ورک قدرتمند Django — سریع، امن و مناسب برای انواع پروژه‌های تحت وب.</p>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Service Item-->
                        <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-film"></i>
                            </span>
                            <h4>انیمیشن سازی</h4>
<p>ارائه خدمات انیمیشن‌سازی دوبعدی با تمرکز بر سبک کارتونی، مناسب برای برندها، محتوای آموزشی، داستان‌های تصویری و پروژه‌های خلاقانه.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Services Section End-->

        <!--Stats Section Start-->
        <section class="stats pt-100 pb-100" style="background-image: url('{{ STATIC_PATH }}images/background/stats-b.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <!--Stats Item-->
                        <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </span>
                            <h2 class="counter" data-count="220">10</h2>
                            <p>مشتریان خوشحال</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!--Stats Item-->
                        <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            </span>
                            <h2 class="counter" data-count="700">20</h2>
                            <p>پروژه های تکمیل شده</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!--Stats Item-->
                        <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-bolt" aria-hidden="true"></i>
                            </span>
                            <h2 class="counter" data-count="1100">10</h2>
                            <p>خطوط کد</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <!--Stats Item-->
                        <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                            </span>
                            <h2 class="counter" data-count="160">15</h2>
                            <p>جوایز به دست آمده</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Stats Section End-->


        <!--Portfolio Section Start-->
        <section class="portfolio pt-100 pb-70" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading text-center">
                            <h6>نمونه کارها</h6>
                            <h2>کاری که انجام دادم</h2>
                        </div>
                        <div class="portfolio-filter text-center">
                            <ul>
                                <li class="sel-item" data-filter="*">همه</li>
                                <li data-filter=".application">انیمیشن</li>
                                /
                                <li data-filter=".development">نقاشی</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row portfolio-items">

                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{{ STATIC_PATH }}images/portfolio/art-1.png" alt="">
                            <div class="item-overlay">
                                <h6>نقاشی</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{{ STATIC_PATH }}images/portfolio/art-2.png" alt="">
                            <div class="item-overlay">
                                <h6>نقاشی</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{{ STATIC_PATH }}images/portfolio/art-3.png" alt="">
                            <div class="item-overlay">
                                <h6>نقاشی</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{{ STATIC_PATH }}images/portfolio/art-4.png" alt="">
                            <div class="item-overlay">
                                <h6>نقاشی</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{{ STATIC_PATH }}images/portfolio/art-5.png" alt="">
                            <div class="item-overlay">
                                <h6>نقاشی</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item development">
                        <div class="item-content">
                            <img src="{{ STATIC_PATH }}images/portfolio/art-6.png" alt="">
                            <div class="item-overlay">
                                <h6>نقاشی</h6>
                            </div>
                        </div>
                    </div>
                   
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item application">
                        <div class="item-content">
                            <!-- پخش ویدیو داخلی -->
                            <video width="100%" height="auto" controls>
                                <source src="{{ STATIC_PATH }}images/portfolio/video-1.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <div class="item-overlay">
                                <h6>انیمیشن</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item application">
                        <div class="item-content">
                            <!-- پخش ویدیو داخلی -->
                            <video width="100%" height="auto" controls>
                                {% comment %} <source src="{{ STATIC_PATH }}images/portfolio/video-2.mp4" type="video/mp4"> {% endcomment %}
                                Your browser does not support the video tag.
                            </video>
                            <div class="item-overlay">
                                <h6>انیمیشن</h6>
                            </div>
                        </div>
                    </div>
                    <!--Portfolio Item-->
                    <div class="col-lg-4 col-md-6 item application">
                        <div class="item-content">
                            <!-- پخش ویدیو داخلی -->
                            <video width="100%" height="auto" controls>
                                {% comment %} <source src="{{ STATIC_PATH }}images/portfolio/video-3.mp4" type="video/mp4"> {% endcomment %}
                                Your browser does not support the video tag.
                            </video>
                            <div class="item-overlay">
                                <h6>انیمیشن</h6>
                            </div>
                        </div>
                    </div>
                    
                    

                </div>
            </div>
        </section>
        <!--Portfolio Section End-->

        <!--Blog Section Start-->
        <section class="blogs pt-100 pb-100 bg-gray" data-scroll-index="4">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="heading text-center">
                            <h6>وبلاگ</h6>
                            <h2>آخرین خبرها</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        {% for post in posts %}
                        <!--Blogs Item-->
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="single-blog.html">
                                    {% if post.image %}
                                    <img src="{{post.image.url}}" alt="">
                                    {% endif %}
                                    
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>{{post.title}}</h3>
                                <p>{{post.description|truncatechars:50|safe }}</p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="{% url 'blog:post_detail' post.slug post.id %}">مطالعه بیشتر</a>
                                    </span>
                                    <span class="date">
                                        {{post.jpublish}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="blog-button pt-40">
                            <a class="main-btn" href="{% url 'blog:blog' %}">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Blog Section End-->

        <!--Testimonials Section Start-->
        <section class="testimonials pt-100 pb-100" style="background-image: url('{{ STATIC_PATH }}images/background/banner.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel owl-theme text-center">
                            <h1 style="color: aliceblue;"> ✨ارتباط با من✨ </h1>
                            <!--Testimonials Item-->
                            <!-- <div class="testimonial-item">
                                <div class="author-img">
                                    <img src="{{ STATIC_PATH }}images/testimonial/img-1.jpg" alt="">
                                </div>
                                <h5>آدام همتی</h5>
                                <span>کارگردان خلاق</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            </div> -->
                            <!--Testimonials Item-->
                            <!-- <div class="testimonial-item">
                                <div class="author-img">
                                    <img src="{{ STATIC_PATH }}images/testimonial/img-1.jpg" alt="">
                                </div>
                                <h5>آدام همتی</h5>
                                <span>کارگردان خلاق</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            </div> -->
                            <!--Testimonials Item-->
                            <!-- <div class="testimonial-item">
                                <div class="author-img">
                                    <img src="{{ STATIC_PATH }}images/testimonial/img-1.jpg" alt="">
                                </div>
                                <h5>آدام همتی</h5>
                                <span>کارگردان خلاق</span>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد </p>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials Section End-->

        <!--Contact Section Start-->
        <section class="contact pt-100 pb-100" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="heading">
                            <h6>تماس</h6>
                            <h2>در تماس باشید</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <!--Contact Form-->
                        
                        <form method="post" action="{% url 'home:contact' %}">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <!--name-->
                                    {{form.name}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <!--email-->
                                    {{ form.email }}
                                </div>
                                <div class="col-md-12 form-group">
                                    <!--message box-->
                                    {{form.message}}
                                </div>
                                <div class="col-md-12 text-center">
                                    <!--contact button-->
                                    <button id="contact-submit" class="mt-30 main-btn">
                                        ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Section End-->


{% endblock %}

