{% extends 'base.html' %}
{% block content %}

{% block title %}
<title>خانه</title>
{% endblock %}
    {% include "include/nav.html"%}
        <!--Home Section Start-->
        <section id="home" class="banner banner-centered" style="background-image: url('{{ STATIC_PATH }}images/background/creative2-banner-b.jpg')" data-stellar-background-ratio=".7" data-scroll-index="0">
                <!--Banner Content-->
                <div class="banner-caption">
                    <h1>سلام من المیرا نیکرودی هستم</h1>
                    <p class="cd-headline clip mt-30">
                        <span>ملقب به الی سایفر</span><br>
                        <span class="blc">حرفه در</span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">طراحی دیجیتالی</b>
                            <b>پویانمایی</b>
                            <b>توسعه وب</b>
                        </span>
                    </p>
                </div>
                <div class="arrow bounce">
                    <a class="fa fa-chevron-down fa-2x" href="#" data-scroll-nav="1"></a>
                </div>

                <svg id="home-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1400 300" preserveAspectRatio="none">
                    <path class="p-curve" d="M-0.2,0.5c0,0-21.7,99.6,233.1,99.6s320.1,199.7,467.6,200.1S898.6,100,1167.6,100S1401,0,1401,0v301H0 L-0.2,0.5z"/>
                </svg>
        </section>
        <!--Home Section End-->

        <!--About Section Start-->
        <section class="about pt-100 pb-100" data-scroll-index="1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <!--About Image-->
                        <div class="about-img">
                            {% if about_us.image %}
                            <img src="{{about_us.image.url}}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <!--About Content-->
                        <div class="about-content">
                            <div class="about-heading">
                                <h2>درباره ما</h2>
                                <span>{{about_us.title}}</span>
                                </div>
                                <p>{{about_us.description}}</p>         
                                                       
                            <!--About Social Icons-->
                           
                            <div class="social-icons">
                                 {% for ico in about_us.socials.all %}
                                    <a href="{{ico.link}}"><i class="fa fa-{{ico.icon}}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--About Section End-->

        <!--Services Section Start-->
        <section class="services bg-gray pt-100 pb-50" data-scroll-index="2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading text-center">
                            <h6>سرویس ها</h6>
                            <h2>خدماتی که ارائه می دهیم</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                {% for service in services %}
                    <div class="col-md-4">
                        <!--Service Item-->
                        <div class="service-item">
                            <span class="icon">
                                <i class="fa fa-{{service.icon}}"></i>
                            </span>
                            <h4>{{service.title}}</h4>
                            <p>{{service.description}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <!--Services Section End-->

        <!--Stats Section Start-->
        <section class="stats pt-100 pb-100" style="background-image: url('{{ STATIC_PATH }}images/background/stats-b.jpg')">
            <div class="container">
                <div class="row">
                {% for stat in stats %}
                    <div class="col-lg-3 col-md-6">
                        <!--Stats Item-->
                        <div class="single-stat">
                            <span class="stat-icon">
                                <i class="fa fa-{{stat.icon}}" aria-hidden="true"></i>
                            </span>
                            <h2 class="counter" data-count="{{stat.value}}">10</h2>
                            <p>{{stat.title}}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <!--Stats Section End-->


        <!--Portfolio Section Start-->
        <section class="portfolio pt-100 pb-70" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="heading text-center">
                            <h6>نمونه کارها</h6>
                            <h2>نمایش توانمندی‌ها</h2>
                        </div>
                        <div class="portfolio-filter text-center">
                            <ul>
                                <a href="{% url 'home:home' %}" class="btn btn-dark" style="-webkit-text-fill-color: aliceblue;">همه</a>
                                {% for cat in category %}
                                <a  href="{% url 'home:home' cat.slug %}" class="btn btn-dark" style="-webkit-text-fill-color: aliceblue;">{{cat.title}}</a>
                                {% endfor %}
                            </ul>
                            <script>
                           // ذخیره موقعیت اسکرول هنگام خروج یا رفرش
window.addEventListener('beforeunload', () => {
  localStorage.setItem('scrollPos', window.scrollY);
});

// بازیابی موقعیت اسکرول بعد از لود صفحه
window.addEventListener('load', () => {
  const scrollPos = localStorage.getItem('scrollPos');
  if (scrollPos) {
    window.scrollTo(0, parseInt(scrollPos));
  }
});
                            </script>
                        </div>
                    </div>
                </div>
                <div class="row portfolio-items">
                {% include 'home/portfolio_items.html' %}
                
                </div>
            </div>
        </section>
        <!--Portfolio Section End-->

        <!--Blog Section Start-->
        <section class="blogs pt-100 pb-100 bg-gray" data-scroll-index="4">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="heading text-center">
                            <h6>وبلاگ</h6>
                            <h2>آخرین خبرها</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="owl-carousel owl-theme">
                        {% for post in posts %}
                        <!--Blogs Item-->
                        <div class="blog-item">
                            <div class="blog-img">
                                <a href="single-blog.html">
                                    {% if post.image %}
                                    <img src="{{post.image.url}}" alt="">
                                    {% endif %}
                                    
                                </a>
                            </div>
                            <div class="blog-content">
                                <h3>{{post.title}}</h3>
                                <p>{{post.description|truncatechars:50|safe }}</p>
                                <div class="blog-meta">
                                    <span class="more">
                                        <a href="{% url 'blog:post_detail' post.slug post.id %}">مطالعه بیشتر</a>
                                    </span>
                                    <span class="date">
                                        {{post.jpublish}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div class="blog-button pt-40">
                            <a class="main-btn" href="{% url 'blog:blog' %}">مشاهده بیشتر</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Blog Section End-->
      
        <!--Testimonials Section Start-->
        <section class="testimonials pt-100 pb-100" style="background-image: url('{{ STATIC_PATH }}images/background/banner.jpg')">
            <div class="container">
                      <div class="heading text-center" style="color: white;" >
                           
                            <h6 class="text-light" >اعضای تیم</h6>
                             <h2 class="text-white">با اعضای تیم ما آشنا شوید</h2>
            </div>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="owl-carousel owl-theme text-center">
                            {% for member in team_member %}
                            <!--Testimonials Item-->
                            <div class="testimonial-item">
                                <div class="author-img">
                                    {% if member.image %}
                                    <img src="{{member.image.url}}" alt="">
                                    {% else %}
                                    <img src="{{ STATIC_PATH }}images/testimonial/img-1.jpg" alt="">
                                    {% endif %}
                                </div>
                                <h5>{{member.name}}</h5>
                                <span>{{member.role}}</span>
                                <p>{{member.bio}}</p>
                                {% for ico in member.icons.all %}
                                <div class="d-inline-flex justify-content-center align-items-center rounded-circle bg-light text-dark" style="width: 35px; height: 35px;">
                                    <a href="{{ico.link}}"><i  class="fa fa-{{ico.icon}} "></i></a>
                                </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials Section End-->

        <!--Contact Section Start-->
        <section class="contact pt-100 pb-100" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="heading">
                            <h6>تماس</h6>
                            <h2>در تماس باشید</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <!--Contact Form-->
                        
                        <form method="post" action="{% url 'home:contact' %}">
                        {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <!--name-->
                                    {{form.name}}
                                </div>
                                <div class="col-md-6 form-group">
                                    <!--email-->
                                    {{ form.email }}
                                </div>
                                <div class="col-md-12 form-group">
                                    <!--message box-->
                                    {{form.message}}
                                </div>
                                <div class="col-md-12 text-center">
                                    <!--contact button-->
                                    <button id="contact-submit" class="mt-30 main-btn">
                                        ارسال پیام
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--Contact Section End-->


{% endblock %}

