{% extends 'dashboard-base.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% block title %}
  <h1 class="title text-right">ویرایش </h1> 
{% endblock %}

{% block admin_content %}
<div class="container mt-4" style="direction: rtl; text-align: right;">
  <div class="card shadow-sm p-4">
    <form method="post">
      {% csrf_token %}
      {{ form.media }}

      {% for field in form %}
        <div class="form-group mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
          </label>
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {{ field|add_class:"form-control" }}

          {% for error in field.errors %}
            <div class="text-danger small mt-1">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary mt-3">ذخیره</button>
    </form>
          <script>

function slugify(text) {
    return text.toString()
        .trim()
        .replace(/\s+/g, '-')  // فاصله‌ها رو با - جایگزین کن
        .replace(/[^\u0600-\u06FFa-zA-Z0-9\-]+/g, '') // فقط حروف فارسی، انگلیسی، اعداد و -
        .replace(/-+/g, '-')   // چند خط تیره پشت هم یکی بشه
        .replace(/^-+|-+$/g, ''); // خط تیره اول و آخر حذف
}

    const titleInput = document.getElementById('{{form.title.id_for_label}}');
    const slugInput = document.getElementById('{{form.slug.id_for_label}}');

    titleInput.addEventListener('input', function() {
        slugInput.value = slugify(this.value);
    });
    </script>
  </div>
</div>
{% endblock %}