       <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand logo" href="{% url 'home:home' %}">
                   الی سایفر
                </a>

                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <!--Nav Links-->
                        <li class="nav-item">
                            <a href="#" class="nav-link active" data-scroll-nav="0" >خانه</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="1" >درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="2" >سرویس ها</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="3">نمونه کارها</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="4">وبلاگ</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-scroll-nav="5">تماس با من</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'account:user_profile' %}" class="nav-link" >پروفایل</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account:user_logout' %}" class="nav-link" >خروج</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account:user_register' %}" class="nav-link" >ورود / عضویت</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% include 'include/massages.html' %}
        </nav>