{% extends 'dashboard-base.html' %}
{% load jalali_tags %}


 {% block title %}
    <h1 class="title">نمونه کار ها</h1> 
 {% endblock %}

{% include 'include\massages.html' %}

{% block admin_content %}

<div style="direction: rtl; text-align: right; padding: 0 20px;">
<a href="{% url 'dashboard:portfolio_create' %}" class="btn btn-primary">افزودن نمونه کار </a>

<br>
<br>
  <table class="table table-dark table-striped text-right">
      
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">عنوان</th>
      <th scope="col">آدرس نمونه کار</th>
      <th scope="col">کارفرما</th>
      <th scope="col">تاریخ ساخت</th>
      <th scope="col">آدرس پروژه</th>
      <th scope="col">توضیحات</th>
      <th scope="col">حذف</th>
      <th scope="col">ویرایش</th>
    </tr>
  </thead>
  <tbody>
  {% for portfolio in portfolios %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{portfolio.title}}</td>
      <td>{{portfolio.slug}}</td>
      <td>{{portfolio.employer}}</td>
      <td>{{portfolio.history|to_jalali}}</td>
      <td>{{portfolio.address_project}}</td>
      <td>{{portfolio.description|truncatechars:50}}</td>
      <td><a class="btn btn-danger" href="{% url 'dashboard:portfolio_delete' portfolio.pk %}">حذف</a></td>
      <td><a  class="btn btn-warning" href="{% url 'dashboard:portfolio_update' portfolio.pk %}">ویرایش</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  

{% endblock %}