{% extends 'dashboard-base.html' %}


 {% block title %}
    <h1 class="title">سرویس ها</h1> 
 {% endblock %}

{% include 'include\massages.html' %}

{% block admin_content %}

<div style="direction: rtl; text-align: right; padding: 0 20px;">
<a href="{% url 'dashboard:service_create' %}" class="btn btn-primary">ایجاد سرویس </a>

<br>
<br>
  <table class="table table-dark table-striped text-right">
      
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">عنوان</th>
      <th scope="col">توضیحات</th>
      <th scope="col">آیکن</th>
    </tr>
  </thead>
  <tbody>
  {% for service in services %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{service.title}}</td>
      <td>{{service.description|truncatechars:50}}</td>
      <td class="fa fa-{{service.icon}}"></td>
      <td><a class="btn btn-danger" href="{% url 'dashboard:service_delete' service.pk %}">حذف</a></td>
      <td><a  class="btn btn-warning" href="{% url 'dashboard:service_update' service.pk %}">ویرایش</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
  

{% endblock %}