<!DOCTYPE html>
<html lang="fa">
<body>
    <h2>بازیابی رمز عبور</h2>
    <p>برای تغییر رمز عبور خود روی دکمه زیر کلیک کنید:</p>

    <a href="{{ reset_link }}" style="
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff !important;
        background-color: #9931c6;
        text-decoration: none;
        border-radius: 5px;
        font-family: Arial, sans-serif;
    ">تغییر رمز عبور</a>

    <p>اگر این درخواست را شما انجام نداده‌اید، این ایمیل را نادیده بگیرید.</p>
</body>
</html>
