{% extends 'auth_base.html' %}
{% block title  %}
<title>ورود</title>
{% endblock %}
{% block content %}
<h2>ورود</h2>
<p>لطفاً اطلاعات خود را وارد کنید.</p>

<small class="text-danger">{{ form.non_field_errors  }}</small>

<form method="post" >
{% csrf_token %}
<div class="col-12">
    {{ form.email }}
    
</div>
<div class="col-12">
    {{form.password}}
    
</div>
{% include 'include/massages.html' %}
<button class="submit-btn">ورود</button>
<div class="footer">
    <p>حساب کاربری ندارید ؟<a href="{% url 'account:user_register' %}">ثبت نام</a></p>
    <p>رمز عبورتان را فراموش کردید ؟ <a href="{% url 'account:forget_password' %}">فراموشی رمز عبور</a></p>
</div>
</form>

{% endblock %}