{% extends 'dashboard-base.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% block title %}
  <h1 class="title text-right">پاسخ </h1> 
{% endblock %}

{% block admin_content %}
<div class="container mt-4" style="direction: rtl; text-align: right;">
  <div class="card shadow-sm p-4">

    
    <div class="mb-4 border rounded p-3 bg-light">
      <p class="mb-2"><strong>کاربر:</strong></p>
      <p class="mb-0 text-muted" style="white-space: pre-line">{{ comment.user }}</p>
      <p class="mb-0"><strong>متن کامنت:</strong></p>
      <p class="mb-0 text-muted" style="white-space: pre-line">{{ comment.content }}</p>
    </div>

    <form method="post">
      {% csrf_token %}
      {{ form.media }}

      {% for field in form %}
        <div class="form-group mb-3">
          <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}
          </label>
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
          {{ field|add_class:"form-control" }}

          {% for error in field.errors %}
            <div class="text-danger small mt-1">
              {{ error }}
            </div>
          {% endfor %}
        </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary mt-3">ذخیره</button>
    </form>
  </div>
</div>
{% endblock %}
